@tailwind base;

@tailwind components;

@tailwind utilities;

.board {
    @apply p-4 bg-teal-500 h-screen overflow-auto;
  }
.task-bg {
    @apply inset-0 absolute;
    background: rgba(0,0,0,0.5);
}

.column {
    @apply bg-gray-200 p-2 mr-4 text-left shadow rounded;
    min-width: 350px;
}

.task {
    @apply flex items-center flex-wrap shadow mb-2 py-2 px-2 rounded bg-white text-gray-800 no-underline;
}

.task-view {
    @apply relative flex flex-row bg-white inset-0 mx-4 m-32 mx-auto py-4 text-left shadow rounded;
    max-width: 700px;
}